<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>point</key>
		<string>North</string>
		<key>abbreviation</key>
		<string>N</string>
		<key>traditionalWind</key>
		<string>Tramontana</string>
		<key>degreeLow</key>
		<real>0</real>
		<key>degreeHigh</key>
		<real>22.499</real>
	</dict>
	<dict>
		<key>point</key>
		<string>Northeast</string>
		<key>abbreviation</key>
		<string>NE</string>
		<key>traditionalWind</key>
		<string>Greco</string>
		<key>degreeLow</key>
		<real>22.5</real>
		<key>degreeHigh</key>
		<real>67.499</real>
	</dict>
	<dict>
		<key>point</key>
		<string>East</string>
		<key>abbreviation</key>
		<string>E</string>
		<key>traditionalWind</key>
		<string>Levante</string>
		<key>degreeLow</key>
		<real>67.5</real>
		<key>degreeHigh</key>
		<real>112.499</real>
	</dict>
	<dict>
		<key>point</key>
		<string>Southeast</string>
		<key>abbreviation</key>
		<string>SE</string>
		<key>traditionalWind</key>
		<string>Scirocco</string>
		<key>degreeLow</key>
		<real>112.5</real>
		<key>degreeHigh</key>
		<real>157.499</real>
	</dict>
	<dict>
		<key>point</key>
		<string>Northeast</string>
		<key>abbreviation</key>
		<string>South</string>
		<key>traditionalWind</key>
		<string>Ostro</string>
		<key>degreeLow</key>
		<real>157.5</real>
		<key>degreeHigh</key>
		<real>202.499</real>
	</dict>
	<dict>
		<key>point</key>
		<string>Southwest</string>
		<key>abbreviation</key>
		<string>SW</string>
		<key>traditionalWind</key>
		<string>Libeccio</string>
		<key>degreeLow</key>
		<real>202.5</real>
		<key>degreeHigh</key>
		<real>247.499</real>
	</dict>
	<dict>
		<key>point</key>
		<string>West</string>
		<key>abbreviation</key>
		<string>W</string>
		<key>traditionalWind</key>
		<string>Ponente</string>
		<key>degreeLow</key>
		<real>247.5</real>
		<key>degreeHigh</key>
		<real>292.499</real>
	</dict>
	<dict>
		<key>point</key>
		<string>Northwest</string>
		<key>abbreviation</key>
		<string>NW</string>
		<key>traditionalWind</key>
		<string>Maestro</string>
		<key>degreeLow</key>
		<real>292.5</real>
		<key>degreeHigh</key>
		<real>337.499</real>
	</dict>
	<dict>
		<key>point</key>
		<string>North</string>
		<key>abbreviation</key>
		<string>N</string>
		<key>traditionalWind</key>
		<string>Tramontana</string>
		<key>degreeLow</key>
		<real>337.5</real>
		<key>degreeHigh</key>
		<integer>360</integer>
	</dict>
</array>
</plist>
