<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>point</key>
		<string>North</string>
		<key>abbreviation</key>
		<string>N</string>
		<key>traditionalWind</key>
		<string>Tramontana</string>
		<key>degreeLow</key>
		<real>0</real>
		<key>degreeHigh</key>
		<real>11.249</real>
	</dict>
	<dict>
		<key>point</key>
		<string>North-Northeast</string>
		<key>abbreviation</key>
		<string>NNE</string>
		<key>traditionalWind</key>
		<string>Greco-Tramontana</string>
		<key>degreeLow</key>
		<real>11.25</real>
		<key>degreeHigh</key>
		<real>33.749</real>
	</dict>
	<dict>
		<key>point</key>
		<string>Northeast</string>
		<key>abbreviation</key>
		<string>NE</string>
		<key>traditionalWind</key>
		<string>Greco</string>
		<key>degreeLow</key>
		<real>33.75</real>
		<key>degreeHigh</key>
		<real>56.249</real>
	</dict>
	<dict>
		<key>point</key>
		<string>East-Northeast</string>
		<key>abbreviation</key>
		<string>ENE</string>
		<key>traditionalWind</key>
		<string>Greco-Levante</string>
		<key>degreeLow</key>
		<real>56.25</real>
		<key>degreeHigh</key>
		<real>78.749</real>
	</dict>
	<dict>
		<key>point</key>
		<string>East</string>
		<key>abbreviation</key>
		<string>E</string>
		<key>traditionalWind</key>
		<string>Levante</string>
		<key>degreeLow</key>
		<real>78.75</real>
		<key>degreeHigh</key>
		<real>101.249</real>
	</dict>
	<dict>
		<key>point</key>
		<string>East Southeast</string>
		<key>abbreviation</key>
		<string>ESE</string>
		<key>traditionalWind</key>
		<string>Levante-Scirocco</string>
		<key>degreeLow</key>
		<real>101.25</real>
		<key>degreeHigh</key>
		<real>123.749</real>
	</dict>
	<dict>
		<key>point</key>
		<string>Southeast</string>
		<key>abbreviation</key>
		<string>SE</string>
		<key>traditionalWind</key>
		<string>Scirocco</string>
		<key>degreeLow</key>
		<real>123.75</real>
		<key>degreeHigh</key>
		<real>146.249</real>
	</dict>
	<dict>
		<key>point</key>
		<string>South-Southeast</string>
		<key>abbreviation</key>
		<string>SSE</string>
		<key>traditionalWind</key>
		<string>Ostro-Scirocco</string>
		<key>degreeLow</key>
		<real>146.25</real>
		<key>degreeHigh</key>
		<real>168.749</real>
	</dict>
	<dict>
		<key>point</key>
		<string>South</string>
		<key>abbreviation</key>
		<string>S</string>
		<key>traditionalWind</key>
		<string>Ostro</string>
		<key>degreeLow</key>
		<real>168.749</real>
		<key>degreeHigh</key>
		<real>191.249</real>
	</dict>
	<dict>
		<key>point</key>
		<string>South-Southwest</string>
		<key>abbreviation</key>
		<string>SSW</string>
		<key>traditionalWind</key>
		<string>Ostro-Libeccio </string>
		<key>degreeLow</key>
		<real>191.25</real>
		<key>degreeHigh</key>
		<real>213.749</real>
	</dict>
	<dict>
		<key>point</key>
		<string>Southwest</string>
		<key>abbreviation</key>
		<string>SW</string>
		<key>traditionalWind</key>
		<string>Libeccio</string>
		<key>degreeLow</key>
		<real>213.75</real>
		<key>degreeHigh</key>
		<real>236.249</real>
	</dict>
	<dict>
		<key>point</key>
		<string>West-Southwest</string>
		<key>abbreviation</key>
		<string>WSW</string>
		<key>traditionalWind</key>
		<string>Ponente-Libeccio</string>
		<key>degreeLow</key>
		<real>236.25</real>
		<key>degreeHigh</key>
		<real>258.749</real>
	</dict>
	<dict>
		<key>point</key>
		<string>West</string>
		<key>abbreviation</key>
		<string>W</string>
		<key>traditionalWind</key>
		<string>Ponente</string>
		<key>degreeLow</key>
		<real>258.75</real>
		<key>degreeHigh</key>
		<real>281.249</real>
	</dict>
	<dict>
		<key>point</key>
		<string>West-Northwest</string>
		<key>abbreviation</key>
		<string>WNW</string>
		<key>traditionalWind</key>
		<string>Maestro-Ponente</string>
		<key>degreeLow</key>
		<real>281.25</real>
		<key>degreeHigh</key>
		<real>303.749</real>
	</dict>
	<dict>
		<key>point</key>
		<string>Northwest</string>
		<key>abbreviation</key>
		<string>NW</string>
		<key>traditionalWind</key>
		<string>Maestro</string>
		<key>degreeLow</key>
		<real>303.75</real>
		<key>degreeHigh</key>
		<real>326.249</real>
	</dict>
	<dict>
		<key>block</key>
		<string>31</string>
		<key>point</key>
		<string>North-Northwest</string>
		<key>abbreviation</key>
		<string>NNW</string>
		<key>traditionalWind</key>
		<string>Maestro-Tramontana</string>
		<key>degreeLow</key>
		<real>326.25</real>
		<key>degreeHigh</key>
		<real>348.749</real>
	</dict>
	<dict>
		<key>point</key>
		<string>North</string>
		<key>abbreviation</key>
		<string>N</string>
		<key>traditionalWind</key>
		<string>Tramontana</string>
		<key>degreeLow</key>
		<real>348.75</real>
		<key>degreeHigh</key>
		<integer>360</integer>
	</dict>
</array>
</plist>
